.tab-list {
  border: 2px solid rgb(255, 0, 0);
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  color: rgb(0, 204, 211);
}

.tab-list-active {
  background-color: rgb(0, 0, 0);
  border: solid rgb(0, 255, 234);
  border-width: 1px 1px 0 1px;
}